body {
    background-color: rgb(251, 223, 235);
    font-family: 'Merriweather', serif; 
    color: black;
    width: 98%;
    height: 98%;
    margin: 20px;
}

h1 { text-align: center;
color: deeppink;
font-size: 35px;
letter-spacing: 0.25em;
}

p {
    text-align: justify;
}

h3 { 
    color: hotpink;
}

.Menú {
    display: inline;
    list-style: none;
    text-decoration: none;
    color: ghostwhite; 
    padding: 10px;
    border: 0px 60px;
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
}

nav {
   display: flex;
   justify-content: space-around;
   width: 100%;
   min-height: 8vh;
   align-items: center;
   background-image: linear-gradient(#f194ca, #fc5eba, #ff00b5);
}